body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.background-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
}

.board-game {
    width: 100%; 
    height: auto; 
}

.dice-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    height: 650px;
    background-color: #bbf1ff;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #1B1B1E(0, 0, 0, 0.25); 
    font-family: 'Arial', sans-serif;
    color: #1B1B1E; 
    gap: 20px; 
}

.dice-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s ease;
}

.dice-button:hover {
    transform: scale(1.1);
    filter:saturate(1.5);
}

#dice-image {
    width: 90px;
    height: 90px;
}

.dice-result {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 300px;
    color: #1B1B1E;
    min-height: 2em;
}
  


#player-info {
    width: 100%;
    padding: 10px;
    background-color: #5fdfff; 
    border-radius: 8px;
    box-shadow: 0 2px 8px #131315(0, 0, 0, 0.1); 
    position: relative;
    bottom: 50%;
    
}

.info-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.info-field strong {
    font-weight: bold;
    color: #1B1B1E; 
}

#add-modal{
    display: none;
    background-color: #d9f4f4;
    padding:7px; 
    z-index:200;
    border: 2px solid #474545; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-modal input {
    display: block;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem; 
    padding: 5px;
}

#add-modal label {
    font-weight: bold;
    display: block;
    font-size: 0.9rem; 
    margin-bottom: 3px; 
}

#add-modal button {
    display: inline-block;
    margin: 3px; 
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    font-size: 0.5rem; 
    cursor: pointer;
}
#submit-investment:hover {
    background-color: #b7effd;
    transform: scale(1.08);
    transition: all 0.2s ease-in-out;
}

.selected {
    background-color: #707370 !important; 
    color: rgb(0, 0, 0); 
    border: 2px solid #388E3C; 

}

.pawn {
    top:46%;
    left:34%;
    position: absolute; 
    height: 60px;
    cursor: grab; 
    user-select: none;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 15;

}

.pawn img {
    width: 100%; 
    height: 100%; 
    pointer-events: none; 
    
}


#persona-input-section label {
    font-weight: bold;
    margin-bottom: 10px;
}

#persona {
    
    margin-top: 10px;
    padding: 5px;
    width: 150px;
}

h2{
    text-align: center;
    
}

.grid-overlay {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; 
}

.grid-overlay div {
    /* border: 1px solid red;*/
    cursor: pointer;
}
.board-container {
    position: relative; 
    z-index: 5; 
    width: 60%; 
    margin-left: 75px;
}

#floatingImageHolder {
    display: none; 
    position: absolute; 
    bottom: 180px; 
    right: 55%;  
    width: 280px;
    height: 390px;
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    text-align: center;
    padding: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

#floatingImageHolder img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#icon-container{
    width: 100%;
    padding: 10px;
    background-color: #e9fbff; 
    border-radius: 8px;
    box-shadow: 0 2px 8px #131315(0, 0, 0, 0.1); 
    position: relative;
    bottom: 50%;
}

.rulemodal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.rulemodal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 10px;
    border-radius: 8px;
    width: 50%; 
    text-align: center;
}

.close-button {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.close-button:hover {
    color: red;
}

.image-gallery img {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

#ruleSheet{
    border-radius: 8px;
    box-shadow: 0 2px 8px #131315(0, 0, 0, 0.1);
    position: relative;
    bottom: 50%;
}
